In [1]:
import pandas as pd
import numpy as np
import oracledb
from sqlalchemy import create_engine
import os
import glob
pd.set_option('display.max_columns',100)
import time

# A. Query Data

In [2]:
# credentials
username = os.environ['DBA_USR']
password = os.environ['DBA_PW']
host = '10.220.50.121'
port = '1661'
service_name = 'ANALYTIC'

In [3]:
connection_string = f'oracle+oracledb://{username}:{password}@{host}:{port}/?service_name={service_name}'

In [4]:
# create engine
engine = create_engine(connection_string)

In [ ]:
# create list of all dates
allDates = ['20241031','20240930','20240829','20240731','20240628','20240531',
            '20240430','20240329','20240229','20240131','20231229','20231130']
# no dpd for <202404

In [6]:
# open sql file
with open("CC Pull.sql", 'r') as file:
    query_template = file.read()

In [7]:
# print(query_template.format(dt='20241031'))

In [8]:
allMLs = []
for date in allDates:
    try:
        # print in case of errors
        print(f'Running {date}')

        # open and read the file as a single buffer
        sqlQuery = query_template.format(dt=date)

        # run query and store data in df
        print('SQL run')
        with engine.connect() as connection:
            ML = pd.read_sql(sqlQuery, connection) 
        print(f'{date} queried successfully')

        # change column names into UPPER CASE
        ML.columns = [x.upper() for x in ML.columns]
    except Exception as e:
        print(e)
        ML = pd.DataFrame()
    finally:
        allMLs.append(ML)

        time.sleep(5)

Running 20241031
SQL run
20241031 queried successfully
Running 20240930
SQL run
20240930 queried successfully
Running 20240829
SQL run
20240829 queried successfully
Running 20240731
SQL run
20240731 queried successfully
Running 20240628
SQL run
20240628 queried successfully
Running 20240531
SQL run
20240531 queried successfully
Running 20240430
SQL run
20240430 queried successfully
Running 20240329
SQL run
20240329 queried successfully
Running 20240229
SQL run
20240229 queried successfully
Running 20240131
SQL run
20240131 queried successfully
Running 20231229
SQL run
20231229 queried successfully
Running 20231130
SQL run
20231130 queried successfully

In [9]:
allMLs[1]

,BASE_DT,AGREE_ID,GCIF_NO,CIF_NO,NOTE_NO,PRD_TP,PRD_NM,PRD_SEGMENT,ORG_LMT_AMT,CURR_LMT_AMT,BAL,ORIG_INT_RT,CURR_INT_RT,OTH_CURR_INT_RT,CLCT_RTNG_FCL,ALLOW_PCT,ALLOW_PCT_ADD,RESTRUCT_CD,PASTDUE_SINCE_DT,PASTDUE_DAYS,WRITE_OFF_AMT,WRITE_OFF_DT,WRITE_OFF_YN,CC_STATUS,GCIF_NO,SEGMENT,SEGMENT_FUNDING,CUST_NM,OPEN_DATE,LAST_ACTIVE_DATE,CUST_TP,GENDER_CD,AGE,EMPLOYMENT_TYPE,MICRO_SEGMENT,CA_BAL,CA_AVG,SA_BAL,SA_AVG,TD_NOA,TD_BAL,TD_AVG,SY_FUNDING_BAL,SY_FUNDING_AVG,FUNDING_NOA,FUNDING_BAL,FUNDING_AVG,NOA_DORMANT,AUM,CC_PLAFOND,CC_BAL,PL_PLAFOND,PLOAN_BAL,TR_PLAFOND,TR_BAL,PB_PLAFOND,PB_BAL,PRK_PLAFOND,PRK_BAL,PPB_PLAFOND,PPB_BAL,BG_PLAFOND,BG_BAL,LC_PLAFOND,LC_BAL,SY_LOAN_PLAFOND,SY_LOAN_BAL,KPR_PLAFOND,KPR_BAL,KPM_PLAFOND,KPM_BAL,COLLECT,LUM,BA_UL_BAL,BA_ALL_BAL,MF_BAL,BONDS_BAL,TRB,M2U_TRX_TOTAL,M2U_TRXAMT_FIN,CRTRX_MTD,CRTRX_AMT_MTD,DBTRX_MTD,DBTRX_AMT_MTD
0,20240930,CP0010014423730004722008,G900455189,1120000000004534,4423730004722008,001,Credit Card,031100,7800000.0,9919780.00,80220.0,0.21,0.21,0.21,00001,0.01,0.0,00001,99991231,0,0.0,None,N,PERFORMING,G900455189,None,None,YENNI,2005-04-19,NaT,INDV,F,47.0,OTHERS,3.Mid Lifers,0.0,0.0,0.000000e+00,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.0,0.000000e+00,7800000.0,160440.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,160440.0,0.0,0.0,0.0,0.0,1.604400e+05,0.0,0.0,0.0,0.0,0.0,0.00
1,20240930,CP0010014423730007054110,G200315984,1010005000389119,4423730007054110,001,Credit Card,031100,4000000.0,27288784.17,0.0,0.21,0.21,0.21,00001,0.01,0.0,00001,99991231,0,0.0,None,N,PERFORMING,G200315984,None,None,HARRY WINATA,1992-03-20,NaT,INDV,M,74.0,SELF EMPLOYED,5.Golden Age,0.0,0.0,0.000000e+00,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.0,0.000000e+00,23000000.0,1267295.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,6267295.0,0.0,0.0,0.0,0.0,6.267295e+06,0.0,0.0,0.0,0.0,0.0,0.00
2,20240930,CP0010014423730007115010,G500491659,1010010250225591,4423730007115010,001,Credit Card,031100,0.0,12250000.00,0.0,0.21,0.21,0.21,00001,0.01,0.0,00001,99991231,0,0.0,None,N,PERFORMING,G500491659,CFS-RB-3EA,CFS-RB-3EA,SUHARDI WAHID,2001-06-07,2024-09-30,INDV,M,53.0,SELF EMPLOYED,4.Silver Age,0.0,0.0,2.825477e+08,2.931556e+08,0.0,0.0,0.0,0.0,0.0,2.0,2.825477e+08,2.931556e+08,0.0,2.825477e+08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.825477e+08,7.0,20000000.0,0.0,0.0,3.0,20000002.16
3,20240930,CP0010014423730009799001,G600037923,1010001100409238,4423730009799001,001,Credit Card,031100,2500000.0,29310.20,0.0,0.21,0.21,0.21,00001,0.01,0.0,00001,99991231,0,0.0,None,N,PERFORMING,G600037923,None,None,ERY RADJALI,1997-03-13,NaT,INDV,F,51.0,OTHERS,4.Silver Age,0.0,0.0,0.000000e+00,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.0,0.000000e+00,45500000.0,45353449.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,45353449.0,0.0,0.0,0.0,0.0,4.535345e+07,0.0,0.0,0.0,0.0,0.0,0.00
4,20240930,CP0010014423730014020021,G200447639,1060620000467761,4423730014020021,001,Credit Card,031100,9000000.0,28666666.67,0.0,0.21,0.21,0.21,00001,0.01,0.0,00001,99991231,0,0.0,None,N,PERFORMING,G200447639,None,None,"BENNY SUTANTO, SH",1994-04-21,NaT,INDV,M,65.0,OTHERS,5.Golden Age,0.0,0.0,0.000000e+00,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.0,0.000000e+00,9000000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177992,20240930,CP0016314649870017180006,EX0000000087017018,0000000087017018,4649870017180006,001,Credit Card,031100,0.0,1355961.00,1355961.0,0.21,0.21,0.21,00001,0.01,0.0,00001,99991231,0,0.0,None,N,PERFORMING,None,None,None,None,NaT,NaT,None,None,NaN,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177993,20240930,CP0016314649870017198008,G508876323,0000000085503019,4649870017198008,001,Credit Card,031100,0.0,542400.00,542400.0,0.21,0.21,0.21,00001,0.01,0.0,00001,99991231,0,0.0,None,N,PERFORMING,G508876323,None,None,"FINE SINTER INDONESIA, PT",2012-11-28,NaT,NON INDV,None,58.0,None,4.Silver Age,0.0,0.0,0.000000e+00,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.0,0.000000e+00,200000000.0,8589124.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,8589124.0,0.0,0.0,0.0,0.0,8.589124e+06,0.0,0.0,0.0,0.0,0.0,0.00
177994,20240930,CP0016314649870017610002,G704093319,0000000017300013,4649870017610002,001,Credit Card,031100,20000000.0,30000000.00,3617821.0,0.21,0.21,0.21,00001,0.01,0.0,00001,99991231,0,0.0,None,N,PERFORMING,G704093319,None,None,"SUNG BO JAYA, PT",2001-09-24,NaT,NON INDV,None,68.0,None,5.Golden Age,0.0,0.0,0.000000e+00,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.0,0.000000e+00,20000000.0,3617821.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,3617821.0,0.0,0.0,0.0,0.0,3.617821e+06,0.0,0.0,0.0,0.0,0.0,0.00
177995,20240930,CP0016314649870017631016,EX0000000086720018,0000000086720018,4649870017631016,001,Credit Card,031100,0.0,46515734.00,46515734.0,0.21,0.21,0.21,00001,0.01,0.0,00001,99991231,0,0.0,None,N,PERFORMING,None,None,None,None,NaT,NaT,None,None,NaN,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177996,20240930,CP0016314649870023348001,G808876338,0000000085532018,4649870023348001,001,Credit Card,031100,15000000.0,7816147.09,0.0,0.21,0.21,0.21,00001,0.01,0.0,00001,99991231,0,0.0,None,N,PERFORMING,G808876338,None,None,"ARTHA MULIA TRIJAYA, PT",2012-05-01,NaT,NON INDV,None,49.0,None,3.Mid Lifers,0.0,0.0,0.000000e+00,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.0,0.000000e+00,40780000.0,25228617.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,25228617.0,0.0,0.0,0.0,0.0,2.522862e+07,0.0,0.0,0.0,0.0,0.0,0.00

# B. EDA

In [10]:
# concat all MLs into one
MLs = pd.concat(allMLs, ignore_index=True)

C:\Users\MR38804\AppData\Local\Temp\ipykernel_1804\416592903.py:2: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  MLs = pd.concat(allMLs, ignore_index=True)

In [11]:
MLs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1995100 entries, 0 to 1995099
Data columns (total 84 columns):
 #   Column            Dtype
---  ------            -----
 0   BASE_DT           object
 1   AGREE_ID          object
 2   GCIF_NO           object
 3   CIF_NO            object
 4   NOTE_NO           object
 5   PRD_TP            object
 6   PRD_NM            object
 7   PRD_SEGMENT       object
 8   ORG_LMT_AMT       float64
 9   CURR_LMT_AMT      float64
 10  BAL               float64
 11  ORIG_INT_RT       float64
 12  CURR_INT_RT       float64
 13  OTH_CURR_INT_RT   float64
 14  CLCT_RTNG_FCL     object
 15  ALLOW_PCT         float64
 16  ALLOW_PCT_ADD     float64
 17  RESTRUCT_CD       object
 18  PASTDUE_SINCE_DT  object
 19  PASTDUE_DAYS      object
 20  WRITE_OFF_AMT     float64
 21  WRITE_OFF_DT      object
 22  WRITE_OFF_YN      object
 23  CC_STATUS         object
 24  GCIF_NO           object
 25  SEGMENT           object
 26  SEGMENT_FUNDING   object
 27  CUST_NM           object
 28  OPEN_DATE         datetime64[ns]
 29  LAST_ACTIVE_DATE  datetime64[ns]
 30  CUST_TP           object
 31  GENDER_CD         object
 32  AGE               float64
 33  EMPLOYMENT_TYPE   object
 34  MICRO_SEGMENT     object
 35  CA_BAL            float64
 36  CA_AVG            float64
 37  SA_BAL            float64
 38  SA_AVG            float64
 39  TD_NOA            float64
 40  TD_BAL            float64
 41  TD_AVG            float64
 42  SY_FUNDING_BAL    float64
 43  SY_FUNDING_AVG    float64
 44  FUNDING_NOA       float64
 45  FUNDING_BAL       float64
 46  FUNDING_AVG       float64
 47  NOA_DORMANT       float64
 48  AUM               float64
 49  CC_PLAFOND        float64
 50  CC_BAL            float64
 51  PL_PLAFOND        float64
 52  PLOAN_BAL         float64
 53  TR_PLAFOND        float64
 54  TR_BAL            float64
 55  PB_PLAFOND        float64
 56  PB_BAL            float64
 57  PRK_PLAFOND       float64
 58  PRK_BAL           float64
 59  PPB_PLAFOND       float64
 60  PPB_BAL           float64
 61  BG_PLAFOND        float64
 62  BG_BAL            float64
 63  LC_PLAFOND        float64
 64  LC_BAL            float64
 65  SY_LOAN_PLAFOND   float64
 66  SY_LOAN_BAL       float64
 67  KPR_PLAFOND       float64
 68  KPR_BAL           float64
 69  KPM_PLAFOND       float64
 70  KPM_BAL           float64
 71  COLLECT           float64
 72  LUM               float64
 73  BA_UL_BAL         float64
 74  BA_ALL_BAL        float64
 75  MF_BAL            float64
 76  BONDS_BAL         float64
 77  TRB               float64
 78  M2U_TRX_TOTAL     float64
 79  M2U_TRXAMT_FIN    float64
 80  CRTRX_MTD         float64
 81  CRTRX_AMT_MTD     float64
 82  DBTRX_MTD         float64
 83  DBTRX_AMT_MTD     float64
dtypes: datetime64[ns](2), float64(59), object(23)
memory usage: 1.2+ GB

In [12]:
MLs.columns

Index(['BASE_DT', 'AGREE_ID', 'GCIF_NO', 'CIF_NO', 'NOTE_NO', 'PRD_TP',
       'PRD_NM', 'PRD_SEGMENT', 'ORG_LMT_AMT', 'CURR_LMT_AMT', 'BAL',
       'ORIG_INT_RT', 'CURR_INT_RT', 'OTH_CURR_INT_RT', 'CLCT_RTNG_FCL',
       'ALLOW_PCT', 'ALLOW_PCT_ADD', 'RESTRUCT_CD', 'PASTDUE_SINCE_DT',
       'PASTDUE_DAYS', 'WRITE_OFF_AMT', 'WRITE_OFF_DT', 'WRITE_OFF_YN',
       'CC_STATUS', 'GCIF_NO', 'SEGMENT', 'SEGMENT_FUNDING', 'CUST_NM',
       'OPEN_DATE', 'LAST_ACTIVE_DATE', 'CUST_TP', 'GENDER_CD', 'AGE',
       'EMPLOYMENT_TYPE', 'MICRO_SEGMENT', 'CA_BAL', 'CA_AVG', 'SA_BAL',
       'SA_AVG', 'TD_NOA', 'TD_BAL', 'TD_AVG', 'SY_FUNDING_BAL',
       'SY_FUNDING_AVG', 'FUNDING_NOA', 'FUNDING_BAL', 'FUNDING_AVG',
       'NOA_DORMANT', 'AUM', 'CC_PLAFOND', 'CC_BAL', 'PL_PLAFOND', 'PLOAN_BAL',
       'TR_PLAFOND', 'TR_BAL', 'PB_PLAFOND', 'PB_BAL', 'PRK_PLAFOND',
       'PRK_BAL', 'PPB_PLAFOND', 'PPB_BAL', 'BG_PLAFOND', 'BG_BAL',
       'LC_PLAFOND', 'LC_BAL', 'SY_LOAN_PLAFOND', 'SY_LOAN_BAL', 'KPR_PLAFOND',
       'KPR_BAL', 'KPM_PLAFOND', 'KPM_BAL', 'COLLECT', 'LUM', 'BA_UL_BAL',
       'BA_ALL_BAL', 'MF_BAL', 'BONDS_BAL', 'TRB', 'M2U_TRX_TOTAL',
       'M2U_TRXAMT_FIN', 'CRTRX_MTD', 'CRTRX_AMT_MTD', 'DBTRX_MTD',
       'DBTRX_AMT_MTD'],
      dtype='object')

In [13]:
MLs = MLs.loc[:, ~MLs.columns.duplicated()].copy()

In [23]:
MLs[['MICRO_SEGMENT']].value_counts()

MICRO_SEGMENT
3.Mid Lifers            572475
4.Silver Age            307413
5.Golden Age            194494
1.Young Professional     84008
2.Young Families         67164
0.Younger                 2478
Name: count, dtype: int64

In [25]:
MLs[(MLs['CC_STATUS']=='DELINQUENT') & (MLs['MICRO_SEGMENT'].isin(['4.Silver Age','5.Golden Age']))][['BASE_DT']].value_counts()

BASE_DT
20240531    577
20240430    576
20240731    576
20240628    566
20240829    518
20240930    475
20241031    447
Name: count, dtype: int64

## 1. SAGA total monthly bad debt

In [19]:
monthly = pd.pivot_table(MLs[MLs['CC_STATUS']=='DELINQUENT'], 
                         values=['GCIF_NO','CURR_LMT_AMT','BAL'],
                         index=['BASE_DT'],
                         columns=['MICRO_SEGMENT'],
                         aggfunc={'GCIF_NO':'count',
                                  'CURR_LMT_AMT':'sum',
                                  'BAL':'sum'})

In [20]:
print(monthly)

                      BAL                                                      \
MICRO_SEGMENT   0.Younger 1.Young Professional 2.Young Families  3.Mid Lifers
BASE_DT
20240430       88500255.0         1.076458e+09     1.506634e+09  1.939014e+10
20240531       88303750.0         1.115632e+09     1.644644e+09  1.938466e+10
20240628       74760372.0         1.258743e+09     1.525908e+09  2.025802e+10
20240731       74192874.0         1.413881e+09     1.763239e+09  1.950479e+10
20240829       74056619.0         1.505060e+09     1.508116e+09  1.926079e+10
20240930       73597484.0         1.750002e+09     1.743633e+09  1.808617e+10
20241031              NaN         2.157753e+09     1.545042e+09  2.018930e+10

                                          CURR_LMT_AMT                       \
MICRO_SEGMENT  4.Silver Age  5.Golden Age    0.Younger 1.Young Professional
BASE_DT
20240430       1.269143e+10  7.712217e+09  175495801.0         1.232086e+09
20240531       1.526315e+10  7.930730e+09  175093177.0         1.210421e+09
20240628       1.403152e+10  8.006881e+09  124678821.0         1.286610e+09
20240731       1.440345e+10  8.055744e+09   74192874.0         1.593319e+09
20240829       1.372628e+10  6.905545e+09   74056619.0         1.536293e+09
20240930       1.076881e+10  6.805556e+09   73595091.0         1.801256e+09
20241031       1.194574e+10  6.673537e+09          NaN         2.220765e+09

                                                                          \
MICRO_SEGMENT 2.Young Families  3.Mid Lifers  4.Silver Age  5.Golden Age
BASE_DT
20240430          1.748250e+09  1.984824e+10  1.306084e+10  8.392832e+09
20240531          1.765953e+09  1.935342e+10  1.536626e+10  8.216952e+09
20240628          1.664858e+09  2.038536e+10  1.422348e+10  8.060683e+09
20240731          1.969260e+09  2.090956e+10  1.473628e+10  8.129055e+09
20240829          1.519454e+09  2.041594e+10  1.386788e+10  6.910604e+09
20240930          1.728855e+09  1.934901e+10  1.112582e+10  7.317624e+09
20241031          1.523146e+09  2.079611e+10  1.257029e+10  6.827686e+09

                GCIF_NO                                                     \
MICRO_SEGMENT 0.Younger 1.Young Professional 2.Young Families 3.Mid Lifers
BASE_DT
20240430            3.0                 95.0             80.0        719.0
20240531            3.0                 91.0             76.0        667.0
20240628            2.0                 78.0             79.0        679.0
20240731            1.0                 81.0             86.0        704.0
20240829            2.0                 82.0             89.0        658.0
20240930            2.0                 89.0             97.0        692.0
20241031            NaN                112.0             90.0        690.0


MICRO_SEGMENT 4.Silver Age 5.Golden Age
BASE_DT
20240430             358.0        218.0
20240531             369.0        208.0
20240628             361.0        205.0
20240731             371.0        205.0
20240829             335.0        183.0
20240930             303.0        172.0
20241031             289.0        158.0

1. Hitung total bad debt SAGA all month
2. Bandingkan bad debt SAGA vs all other CC
2. Bandingkan